/* Width and color of scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

/* Handle (thumb) of scrollbar */
::-webkit-scrollbar-thumb {
    /* background-color: #690000; */
    background-image: linear-gradient(red, yellow);
    border-radius: 5px;
}

/* Track (background) of scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background-color: #a80000; */
    background-image: linear-gradient(red, yellow);

}
